@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#App {
    background-image: url("https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;

    height: fit-content;
}

.navbar-nav .dropdown-menu {
    display: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;


    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: rgb(212, 204, 47);
        text-shadow: #5f3ed7 1px 1px 1px;
    }

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: large;
    }

    a:hover {
        color: rgb(212, 204, 47);
        text-shadow: #5f3ed7 1px 1px 1px;
    }
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #5f3ed7;
    text-shadow: rgb(212, 204, 47) 1px 1px 1px;
    margin: 2rem;
}

.wrapper-list {
    margin-top: 2rem;

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 1rem;
        position: relative;
    }

    a {
        text-decoration: none;
        transition: transform 0.3s ease, color 0.3s ease;
        color: inherit;
    }

    a:hover {
        transform: scale(1.1);
        color: rgb(47, 212, 143);
        font-weight: bold;
    }

    .homeworld-name {
        font-weight: bold;
        color: rgb(212, 204, 47);
    }
}

.back-button {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: rgb(212, 204, 47);
    text-shadow: #5f3ed7c8 1px 1px 1px;
    border-radius: 1rem;

    &:hover {
        color: #5f3ed7c8;
        transform: scale(1.1);
    }
}

.custom-img {
    height: 200px;
    object-fit: scale-down;
    width: 100%;
}

.card-img {
    height: 600px;
    object-fit: scale-down;
    width: 100%;
}

.card-border {
    border: solid 1px rgba(246, 239, 96, 0.713);
    border-radius: 0.5rem;
    box-shadow: #5f3ed7c8 2px 2px 2px;
}

.custom-button {
    background-color: #5f3ed7;
    color: white;
    border: solid 2px rgba(212, 204, 47, 0.69);
    border-radius: 0.5rem;

    &:hover {
        box-shadow: #5f3ed7 1px 1px 1px;
        background-color: rgb(212, 204, 47);
    }
}

.homepage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;


    .homepage-giphy {
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        img {
            position: absolute;
            width: 50vw;
            height: 100%;
        }

        .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            font-weight: bolder;
            color: #5f3ed7;
            text-shadow: #ffffff 1px 1px 1px;
            text-align: center;
            z-index: 1;
        }
    }

    .homepage-info {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.694);

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 5rem;
        }
    }

    .homepage-text-wrapper {
        text-align: center;
        padding: 2rem;

        color: yellow;
        font-size: medium;
        margin: 1rem 3rem;
    }

    .homepage-links {
        font-size: xx-small;
        background-color: rgba(255, 255, 255, 0);
        color: #5f3ed7;
        border: none;
    }
}

.card-collection:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.error-title {
    font-size: 3rem;
    font-weight: bold;
    color: #d73e3e;
    text-shadow: #ffffff 1px 1px 1px;
}

.error-message {
    font-size: 2rem;
    font-weight: bold;
    color: #d73e3eaa;
}

.search-form {
    width: 100%;
    margin-bottom: 2rem;
}

.custom-no-result {
    font-size: 2rem;
    color: #ffffff;
}

.custom {
    padding: 2rem 4rem;
}

.loading-spinner {
    color: rgb(250, 240, 50);
}

.wrapper-giphy {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    z-index: 1;
}

.custom-h3 {
    color: white;
    text-align: center;
    position: static;
    z-index: 1;
}

h3 {
    color: white;
    text-align: center;
}

.custom-searchresult-text {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.pagination-container {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .homepage-wrapper {
        .homepage-links {
            font-size: medium;
        }

        .homepage-text-wrapper {
            text-align: center;
            padding: 4.5rem;

            font-size: larger;
            margin: 0 5rem;
        }

        .homepage-info {
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin: 0 5rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .homepage-wrapper {
        .homepage-links {
            font-size: large;
        }
    }
}