@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    color: black;
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: rgb(47, 212, 143);
        text-shadow: #000000 1px 1px 1px;
    }


    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: large;
        text-shadow: #2ad180 1px 1px 1px;
    }


}